body {
  font-family: Arial, sans-serif;
  background:  #afcee4;
  margin: 20px;
}

.wrapper {
  max-width: 850px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.full {
  grid-column: 1 / 3;
}

input, select, button {
  padding: 0.6rem;
  font: inherit;
}

button {
  background: #afcee4;
  transition: background 0.5s ease;
  margin-top: 10px;
}

button:hover {
  background: #24a1d7;
}

#idContainer[hidden] {
  display: none;
}

#accessContainer[hidden] {
  display: none;
}

#output {
  margin-top: 1rem;
  font-weight: bold;
}
          