header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.head-img {
    align-self: center;
    width: 20%;
    height: 20%;
    margin-left: 50px;
}

.search-bar-container {
    display: flex;
    align-self: center;
}

.search-bar {
    width: 590px;
    height: 50px;
    font-size: 25px;
    border: 5px solid black;
    border-radius: 10px;
    margin: 10px;
    margin-left: 0;
}

.search-img {
    width: 4%;
    margin-left: -80px;
    pointer-events: none;
}

.mini-line {
    border: 1px solid black;
    height: 40px;
    margin-left: -60px;
    margin-right: 90px;
    margin-top: 20px;
}

h1 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 100px;
    justify-self: center;
}

.main-divider {
    max-width: 590px;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    max-width: 600px;
    background: white;
    margin: 0 auto;
    padding: 20px;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 15px;
}

.recipe-img {
    margin: 20px;
    margin-bottom: 5px;
}

.dessert-box {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    max-width: 110px;
    max-height: 50px;
    margin-left: 20px;
}

h2 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 50px;
    color: rgb(48, 137, 232);
    margin: 20px;
}

.rating {
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 0;
    font-size: 1.5rem;
}

p {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    margin-bottom: 30px;
}

@media screen and (min-width: 1000px) {
    .head-img {
        width: 15%;
        margin-left: 340px;
    }
    
    body {
        max-width: 1200px;
    }

    .search-bar {
        width: 1190px;
    }

    .mini-line {
        margin-left: -80px;
    }

    .main-divider {
        max-width: 1190px;
    }

    .recipe-card {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .recipe-img {
        max-width: 35%;
        padding: 20px;
    }

    .recipe-elements {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .dessert-box {
        margin-top: 30px;
    }

    p {
        display: block;
        font-family: 'Arial', sans-serif;
        font-size: 20px;
        max-width: 600px;
        margin-left: 25px;
        font-weight: bold;
    }

    footer {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .footer-imgs {
       align-items: end;
       justify-content: end;
    }
}
