
* {
box-sizing: border-box;
}

body {
font-size: 20px;
max-width: 1280px;
margin: auto;
padding: 1em;
}

img {
max-width: 100%;
}

.main-nav {
list-style-type: none;
display: flex;
gap: 20px;
justify-content: end;
}

hr{
margin-top: 50px;
}

/*Design for mobile devices first, default style*/

/* media query for larger screens */
@media screen and (min-width: 500px) {
    .media-card {
        display: flex;
        gap: 20px;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .gallery .media-card { /*write a descendency selector to grab the media-card within the gallery and not the top one*/
        width: 600px;
    }
}
