body {
    background-color: white;
    font-size: 20px;
}

#content {
    max-width: 60%;
    margin: 40px auto;
    border: 1px solid darkgrey;
    padding: 100px;
}

hr {
    color: #ddd;
    width: 80%;
}

h1 {
    font-size: 3.2em;
    font-weight: 300;
    text-align: center;
}

.school {
    text-align: center;
    font-weight: 300;
    color: #035f9c;
    font-size: 1.4em;
    letter-spacing: 2px;
}

.intro {
    font-size: 30px;
    margin: 20px auto;
    width: 80%;
    line-height: 50px;
    margin-top: 40px; 
}

.list-start {
    font-size: 30px;
    font-style: italic;
    margin: 20px auto;
    width: 80%;
    font-weight: 350;
}

.list {
    margin: 0 auto;
    list-style-type: numbers;
    font-size: 30px;
    line-height: 50px;
    width: 75%;
}

li {
    padding: 20px;
}

#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 70px;
}