body {
    background-color: #ddd;
    font-size: 20px;
}

#content {
    max-width: 60%;
    border: 1px solid darkgrey;
    margin: 40px auto;
    padding: 50px;
}

p {
    color: #035f9c;
    font-size: 1.3em;
}

hr {
    height: 3px;
    background-color: #035f9c;
    width: 80%;
    margin-top: 50px;
}

h1, h2, p {
    text-align: center;
}

#logos {
    text-align: center;
}

img {
    width: 50%;
    margin: 50px auto;
    /*without div and id you can also use display: block; and margin: 0 autuo; to make an image remain in one place while page size changes*/
}

#topics {
    line-height: 1.5em;
    margin: 0 auto;
    width: 55%; /*helps paragraphs stay where they need to as page size changes*/
}

.list {
    list-style-type: none; /*removes bullet points*/
}